body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.background-photo {
    position: relative;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.background-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countdown {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.day-container,
.hour-container,
.minute-container,
.second-container {
    margin: 1rem; /* Adjust margins as needed */
}
.time {
    text-align: center;
}


h2 {
    font-size: 3rem;
    margin-bottom: 0; 
}

h3 {
    font-size: 0.8rem;
    margin-top: 0;
}

.text-content {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(30% - 40px); /* Adjust width to accommodate padding */
    height: 100vh;
    overflow-x: hidden;
    padding: 20px; /* Add padding for text */
    padding-top: 0; /* Remove top padding */
    background-color: rgba(255, 236, 179, 0.8);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content h1 {
    color: #333;
    font-family: "Sacramento";
    font-size: 2.5em;
    margin: 0; /* Remove margin */
}

.text-content p {
    font-size: 1.2em;
    margin: 10px 0; /* Adjust margin */
}

.text-content button {
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #ffcc00;
    color: #333;
    border: 2px solid #ffcc00;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px; /* Add margin to button */
}

.text-content button:hover {
    background-color: #333;
    color: #fff;
}

/* For mobile devices and tablets */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }

    .background-photo {
        width: 100%; /* Occupy full width */
        height: auto; /* Auto height */
    }

    .text-content {
        position: relative; /* Change position to relative */
        width: 100%; /* Occupy full width */
        margin-top: 20px; /* Add margin to separate from the background */
        padding: 20px; /* Add padding for text */
        box-sizing: border-box; /* Include padding in width calculation */
    }
}