body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-photo {
    background-image: url('src/photo.jpeg'); /* Background image */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Ensure the image is behind other content */
}

.container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Light background color with transparency */
    border-radius: 10px;
}

h1 {
    color: #333;
    font-size: 2.5em; /* Larger font size for heading */
    margin-top: 30px; /* Increase margin for spacing */
}

p {
    font-size: 1.2em; /* Larger font size for paragraphs */
    margin-bottom: 20px; /* Increase margin for spacing */
}

button {
    padding: 15px 40px; /* Larger padding for button */
    font-size: 1.2em; /* Larger font size for button */
    background-color: #ffcc00; /* Yellow color for button */
    color: #333; /* Dark color for button text */
    border: 2px solid #ffcc00; /* Yellow border for button */
    border-radius: 30px; /* Round border for button */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for button */
}

button:hover {
    background-color: #333; /* Dark color on hover */
    color: #fff; /* White color on hover */
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}
